<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PWVKMN7');</script>
<!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112410411-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112410411-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hi my names Haydon Curteis-Lateo, I enjoy ICT and I'm trying to progress my career in it, Come check out my website."/>
  <meta name="Keywords" content="haydon, curteis, lateo, haydon curteis-lateo, hayhaydz, ict, web design, programming,"/>
  <link href="websites-style.css" rel="stylesheet">
  <link href="../../style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Haydon Curteis-Lateo | Websites</title>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWVKMN7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="website-page">
    <a class="go-back" href="../../portfolio.html">Go back</a>
    <h1 class="website-h1">Websites</h1>
      <div class="website-section">
        <div class="website-v1">
          <div class="website-content">
            <h1>Version 1</h1>
            <p>This was my first attempt at making a nice looking template I focused more on the header, footer and how all of it looked in all screen sizes.</p>
            <div class="v1-links">
              <a class="v1-demo" href="v1/index.html" target="_blank">Full Demo</a>
              <a class="v1-download" href="v1.zip"download>Download</a>
            </div>
          </div>
          <div class="v1-img">
          </div>
        </div>

      <div class="next-v">
        <a href="#v2">More Coming Soon</a>
      </div>

    <div id ="v2"></div>

      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="js/scripts.js"></script>

</body>
</html>
