.title {
    font-family: Aleo;
    margin: 10px 35px;
    font-size: 40px;
}
.subTitle {
  font-family: Crimson_Text;
  margin: 15px 80px;
  font-size: 25px;
  letter-spacing: 1px;
}
.explanation {
  font-family: OpenSans;
  max-width: 80%;
  display: block;
  margin: 50px auto;
  font-size: 18px;
}
